.home-promise {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.overlay-white {
  width: 100%;
  background-color: $white;
  opacity: 0.1;
  position: absolute;
  height: 100vh;
}
.home-promise-text {
  text-align: center;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  p {
  margin: 0!important;
  font-size: 50px;
  }
}

.typed-cursor {
  font-size: 50px;
  // opacity: 1;
  // -webkit-animation: blink 0.7s infinite;
  // -moz-animation: blink 0.7s infinite;
  // animation: blink 0.7s infinite;
}
.home-promise-text-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-expertises-grid {
}

.home-expertises-title {
  // margin-left: 70px;
  h1 {
  font-size: 28px;
  font-weight: 900;
  line-height: 2.14;
  text-align: left;
  margin: 30px 0;
  }
}
.home-expertises-icon {
  margin: 10px 0;
}
.home-expertises-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.home-expertises-details-title {
  display: flex;
  align-items:center;
  justify-content: center;
  padding-bottom: 10px;
  h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}

.home-expertises-details-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 75px;
  // width: 75px;
  img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.home-expertises-details-desc {
  p {
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
    padding: 0 5px;
  }
}

.home-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.home-tools-title h3 {
  font-size: 18px;
  line-height: 1.30;
  text-align: center;
}

.home-tools-icons {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  img {
    margin-right: 10px;
    margin-top: 10px;
    height: 35px;
  }
}

.home-realisations-grid {
}

.home-realisations-links {
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: none;
    color: $black;
  }
}




.home-realisations-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // max-width: 40vw;
}

.home-realisations-description h3 {
  font-size: 18px;
  text-align: center;
}

.home-realisations-image img {
  max-width: 100%;
}

@media(max-width: 800px) {
  .home-promise-text p {
    font-size: 40px;
  }
  .typed-cursor {
    font-size: 40px;
  }
}
@media(max-width: 768px) {
  .home-expertises-details-desc {
    max-width: 50%;
  }
  .home-expertises-title {
    display: flex;
    justify-content: center;
  }
  .home-realisations-title {
    display: flex;
    justify-content: center;
  }

  .home-a-propos-title {
    display: flex;
    justify-content: center;
  }
  .home-a-propos-description {
    display: flex;
    justify-content: center;
    p {
      text-align: center;
    }
  }

}
@media(max-width: 550px) {
  .home-expertises-details-desc {
    max-width: 75%;
  }
   .footer {
    display: none;
  }
}

