.home-promise {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-promise-text {
  height: 85%;
  display: flex;
  padding-top: 55px;
  align-items: center;
  justify-content: center;
  p {
  margin: 0!important;
  font-size: 40px;
  }
}

.typed-cursor {
  font-size: 40px;
  // opacity: 1;
  // -webkit-animation: blink 0.7s infinite;
  // -moz-animation: blink 0.7s infinite;
  // animation: blink 0.7s infinite;
}

.home-expertises-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 5%;
}

.home-expertises-title {
  // margin-left: 70px;
  h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 2.14;
  letter-spacing: 4.3px;
  text-align: left;
  }
}

.home-expertises-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-expertises-details-title {
  display: flex;
  align-items:center;
  justify-content: center;
  h2 {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-align: center;
  }
}

.home-expertises-details-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 75px;
  // width: 75px;
  img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.home-expertises-details-desc {
  max-width: 25vw;
  p {
    text-align: center;
    font-weight: lighter;
    font-size: 19px;
    letter-spacing: 2.5px;
  }
}

.home-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-tools-title h3 {
  font-size: 23px;
  line-height: 2.61;
  letter-spacing: 3.5px;
  text-align: center;
}

.home-tools-icons {
  img {
    margin-right: 10px;

    height: 55px;
  }
}

.home-realisations-grid {
}

.home-realisations-links {
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: none;
    color: $black;
  }
}

.home-realisations-title {
  // margin-left: 70px;
  h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 2.14;
    letter-spacing: 4.3px;
    text-align: left;
  }
}


.home-realisations-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // max-width: 40vw;
}

.home-realisations-description h3 {
  font-size: 20px;
  letter-spacing: 2.3px;
  text-align: center;
}

.home-realisations-image img {
  max-width: 100%;
}

.home-a-propos {
  margin-bottom: 70px;
}
.home-a-propos-title {
  // margin-left: 70px;
  h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 2.14;
  letter-spacing: 4.3px;
  text-align: left;
  }
}

.home-a-propos-description {
  // margin-left: 70px;
  // margin-right: 70px;
  p {
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 1px;
    text-align: justify;
  }
}
