<div class="footer">
  <div class="footer-text">
    © 2018 Focused
  </div>
  <div class="footer-links">
      <%= link_to "expertises", root_url + ("#expertises"), class: "navbar-focused-link" %>
      <%= link_to "réalisation", root_url + ("#realisations"), class: "navbar-focused-link" %>
      <%= link_to "contact", root_url + ("pages/contact"), class: "navbar-focused-item navbar-focused-link" %>
  </div>
</div>
