<div class="footer">
  <div class="footer-text">
    © 2018 Focused
  </div>
  <div class="footer-links">
      <%= link_to "expertises", "#expertises", class: "navbar-focused-link" %>
      <%= link_to "réalisation", "#realisations", class: "navbar-focused-link" %>
      <%= mail_to "contact@focused.fr", "contact", subject: "Demande de devis", class: "navbar-focused-item navbar-focused-link" %>
  </div>
</div>
