<% if flash[:error] %>
  <div class="flashes-message-error" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:already] %>

  <div class="flashes-message-already" role="alert">
    <%= flash[:already] %>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="flashes-message-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>
