<div class="home-promise">
    <p>ici je mets ma promesse</p>
  </div>
  <div class="home-skills">
      <div class="home-skills-element">
        <p>Elem 1</p>
      </div>
      <div class="home-skills-element">
        <p>Elem 2</p>
      </div>
      <div class="home-skills-element">
        <p>Elem 3</p>
      </div>
  </div>
