<div class="home-promise" id="home-entrance">
    <p>Focused on&nbsp;</p>
    <p id="typed" style="font-weight: bold"></p>
</div>
<div class="home-skills">
  <div class="home-skills-title">
    <h1>Nos skills</h1>
  </div>
  <div class="home-skills-grid">
    <div class="home-skills-details">
      <div class="home-skills-desc">
         <h2>Développement Web</h2>
      </div>
      <div class="home-skills-icon">
        <p>Elem 1</p>
      </div>
    </div>
    <div class="home-skills-details">
      <div class="home-skills-desc">
         <h2>Développement Web</h2>
      </div>
      <div class="home-skills-icon">
        <p>Elem 2</p>
      </div>
    </div>
    <div class="home-skills-details">
      <div class="home-skills-desc">
         <h2>Développement Web</h2>
      </div>
      <div class="home-skills-icon">
        <p>Elem 3</p>
      </div>
    </div>
  </div>
</div>
<div class="home-projects" id="projects">
  <div class="home-projects-title">
    <h1>Nos projets</h1>
  </div>
  <div class="home-projects-grid">
    <div class="home-projects-details">
    </div>
    <div class="home-projects-details">
    </div>
    <div class="home-projects-details">
    </div>
  </div>
  <div class="home-projects-more">
    <h3>voir plus</h3>
  </div>
</div>
