.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 70px;

}
.footer-text {
  color: $black;
  font-size: 14px;
}
.footer-links {
  a {
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 15px;

  } &:hover {
    text-decoration: none;
  }
}
